# R Files

.Rhistory
.RData

#Unused .cpp files (code snippets or work in progress)

divisible.cpp
composite_coloring.cpp
construct_string.cpp

# Text Files

in2.txt

# Executables

*.exe
*.out
*.app

# Executables without a specific extension

divisible
ugly
optimized
maximums
mysterious
mysterious_optimized
